.book-card {
    background-color: #5c5b5b; 
    border: 1px solid #ddd;
    border-radius: 8px; 
    padding: 15px; 
    width: 250px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; 
    margin: 10px; 
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.book-card h3 {
    margin: 0; 
}

.book-card:hover {
    transform: scale(1.05); 
}

.books-code {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 20px;
}